---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getCollection } from 'astro:content'

const jsPosts = (await getCollection('js')).reverse()
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead/>
</head>
<style>
	div {
		grid-column-start: 2;
		margin-top: 3rem;
		text-align: center;
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		margin-bottom: .5rem;
	}

</style>
<body>
	<Header/>
	<main>
		<div>
			<ul class="category">
				{jsPosts.map(p => <li><a href={`js/${p.slug}`}>{p.data.title}</a></li>)}
			</ul>
		</div>
	</main>
	<Footer/>
</body>
</html>
