---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const categories = ["ruby", "js", "other", "go"];
const postsByCategory = {};

for (const category of categories) {
  postsByCategory[category] = (await getCollection(category)).sort((a, b) => {
    const dateA = new Date(a.data.publishedAt ?? 0);
    const dateB = new Date(b.data.publishedAt ?? 0);
    return dateB.getTime() - dateA.getTime();
  });
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <style>
      .categories {
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(300px, 1fr)
        ); /* Responsive grid */
        gap: 2rem;
        margin-top: 3rem;
      }
      .category {
        padding: 0;
      }
      .category li {
        list-style: none;
        margin-bottom: 0.5rem;
      }
      .category a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid currentColor;
        transition: border-color 0.3s ease;
      }
      .category a:hover {
        border-color: #f97583;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="categories">
        {
          categories.map((category) => (
            <ul class="category">
              <h2>{category.toUpperCase()}</h2>
              {postsByCategory[category].map((post) => (
                <li>
                  <a href={`/${category}/${post.slug}`}>{post.data.title}</a>
                </li>
              ))}
            </ul>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
