---

---
<footer>
    <p>© <a href="/">Gaiheilu Kamei</a>. Powered by <a href="https://astro.build" target="_blank">Astro</a> and custom css.<br>
        Code and content is <a href="https://github.com/GaiheiluKamei/GaiheiluKamei.github.io" target="_blank">available on GitHub</a>. Contact me via <a href="mailto:x@rubyist.run">e-mail</a>.
    </p>
</footer>
<style>
    footer {
        margin-top: auto;
        color: #c5c5c5;
    }

    footer p {
        text-align: center;
        font-size:0.6rem;
        padding: 2rem;
        margin-bottom: 0;
    }
</style>